.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.cardBox .card{
position: relative;
background: var(--white);
padding: 30px;
border-radius: 20px;
display: flex;
justify-content: space-between;
cursor: pointer;
box-shadow: 0 7px 25px rgba(0, 0, 0, 0.5);
}
.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}
.cardBox .card .cardName{
color: var(--black2);
font-size: 1.1em;
margin-top: 5px;
}
.cardBox .card .iconBx{
font-size: 3.5em;
color: var(--black2);
}
.cardBox .card:hover{
    background: var(--blue);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx
{
    color: var(--white);
}

/* carss */
.card-container{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* grid-gap: 30px; */
}

.card{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.5);
}
.card .card-title{
    color: var(--green2);
}
.card .card-body{
    padding: 50px 0;
}