.stats-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
}
canvas{
    height: 600px !important;
    width: 600px !important;
}
.stats-item{
       padding: 10px;
       background: var(--light-0);
}