
      /* csss dark mode */

  .container-dark-mode{
    position: relative;
    width: 70px;
    height: 36px;
    border: 1px solid var(--green1);
    background: var(--blue1);
    border-radius: 30px;
    }
    .container-dark-mode input {
      position: absolute;
      display: none;
    }
    
    .container-dark-mode label {
      background: var(--light-2);
      border-radius: 20px;
      cursor: pointer;
      height: 38px;
      position: relative;
      width: 68px;
    }

    #toggle-button:checked + label {
      background: var(--dark-0);
    }

    .container-dark-mode label .sun-moon {
      background: var(--green1);
      border-radius: 50%;
      height: 25px;
      margin: 4px;
      transition: transform 0.3s ease;
      width: 25px;
    }

    #toggle-button:checked + label .sun-moon {
      background: var(--dark-1);
      transform: translateX(30px);
    }

/* Botton dark mode */
.container-dark-mode.dark {
  border: 1px solid var(--light-0);
  background: var(--green1);
}
.container-dark-mode.dark #toggle-button:checked + label .sun-moon{
  background: var(--blue1);
}
/* Header */
.header.dark{
    background: var(--dark-2);
}
.header.dark .info-container,
.header.dark .toggle,
.header.dark h2{
    color:var(--light-0);
}

/* Main */
.main.dark{
    background: var(--dark-2);
    color:var(--light-2);
}
.main.dark .card ,
.main.dark .recentOrders ,
.main.dark .recentCustomers
{
    background:var(--dark-0);
    box-shadow: 0 2px 3px rgb(255 255 255 / 50%);
}

.main.dark .stats-item{
  background:var(--dark-0);
}

.breadcrumb.dark ol li a  {
    color: var(--light-2);
}
.breadcrumb.dark li + li::before {
    content: "";
    background: var(--light-0);
  }

/* Sidebar */
.sidebar.dark{
    background: var(--blue1);   
}
.sidebar.dark ul li:hover{
background: var(--dark-2);
}

.sidebar.dark ul li.list-item-father:hover a.a-item-father::before,
.sidebar.dark ul li.list-item-father.hovered a.a-item-father::before
{
content: "";

box-shadow: 35px 35px 0 10px var(--dark-2);
}
.sidebar.dark ul li.list-item-father:hover a.a-item-father::after,
.sidebar.dark ul li.list-item-father.hovered a.a-item-father::after
{
content: "";
box-shadow: 35px -35px 0 10px var(--dark-2);
}


.sidebar.dark ul li.list-item-father .panel{
  background-color: var(--green2);
}


/* footer */
.bootomBar.dark{
    background: var(--dark-2);
    color:var(--light-0);
}