  /* Dropdown menu css */
  .dropdown-container {
    position: relative;
    width: 60px;
  }
  ion-icon{
    width: 30px;
    height: 30px;    

  }
  .dropdown-container .dropdown-toggle {
    color: var(--green1);
    background-color:var(--blue);
    padding: 1px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: all ease-in-out 0.3s;
  }
  .dropdown-container .dropdown-toggle label {
    cursor: pointer;
    width: 100%;
  }
  .dropdown-container .dropdown-toggle:hover, .dropdown-container .dropdown-toggle:active, .dropdown-container .dropdown-toggle:focus {
    background-color: var(--blue1);
    color: var(--white);
  }
  .dropdown-container .dropdown-menu {
    width: 150px;
    border-radius: 15px;
    box-shadow: 1px 1px 34px 0px black;
    margin-top: 17px;
    position: absolute;
    background-color: var(--blue1);
    z-index: 2;
  }
   .dropdown-menu ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    border-radius: 15px;
    z-index: 1;
    width: 100%;
  }
   .dropdown-menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 15px;
    padding: 5px 20px;
    font-weight: 600;
    transition: all ease-in-out 0.3s;
  }
  .dropdown-menu span{
      padding-left: 5px;
  }

   .dropdown-menu a:hover,
   .dropdown-menu a:active,
   .dropdown-menu a:focus {
    background-color: var(--green1);
    color: var(--blue);
  }
  
  .dropdown-menu,
  .dropdown-toggle {
    position: relative;
  }

  .dropdown-menu::before{
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    border: 5px solid var(--blue1);
    z-index: -1;
    transform: translateX(0px) rotate(45deg);
    top: -4px;
    box-shadow: 1px 1px 4px -2px rgb(0 0 0 / 40%);
  }
.dropdown-menu ion-icon{

  margin-right: 10px;
}
  .dropdown-menu {
    z-index: 10;
    position: relative;
    display: flex;
    background: #004550;
    min-width: 150px;
    border-radius: 20px;
    margin-top: 6px;
  }
  
  .dropdown-open .dropdown-menu.dropdown-active {
    display: block;
  }
  
  .dropdown-container.dropdown-open .dropdown-toggle {
    background-color: var(--blue1);
    color: var(--white);
  }



  /*Botón*/
.drop-button{
  border: none;
  background-color: var(--blue1);
  padding: 1px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}


/*Posición del contenedor*/
.dropdown{
  position: relative;
  display: inline-block;
 }

/*submenu*/
.dropdown-content{
  display: none;
  position: absolute;
  width: 170px;
  right: 0px;
  z-index: 1;
}

.dropdown-content a{
  color: var(--white);
  padding: 12px 16px;
  display: flex;
}

.show {
  display: block;
}


