@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --primary-color: #93EA20;
    --green2: #3CB147;
    --blue1:#004550;
    --blue2:#212258;
    --white:white;
    --black1:#030506;
    --black2:#8e9091;

    --blue: var(--blue2);
    --grey:grey;


    --light-0: #f8f9fa;
    --light-1: #e9ecef;
    --light-2: #dee2e6;

    --dark-0: #495057;
    --dark-1: #343a40;
    --dark-2: #212529;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
}