.container{
    position: relative;
    width: 100%;
}
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: .5s;
    padding-top: 60px;
    padding-bottom: 30px;
}
.main.active{
    width: calc(100% - 65px);   
    left: 65px;
}
.main.active .header{
    width: calc(100% - 65px);   
}

.main-card-container{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    margin-bottom: 20px;
}
.main-card-container .card{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.5);
}
.main-card-container .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}
.main-card-container .card .cardName{
color: var(--black2);
font-size: 1.1em;
margin-top: 5px;
}
.main-card-container .card .iconBx{
font-size: 3.5em;
color: var(--black2);
}
.main-card-container .card:hover{
    background: var(--blue);
}

.main-card-container .card:hover .numbers,
.main-card-container .card:hover .cardName,
.main-card-container .card:hover .iconBx
{
    color: var(--white);
}