@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Ubuntu', sans-serif;
}
:root{

    
    --green1: #93EA20;
    --green2: #3CB147;
    --blue1:#004550;
    --blue2:#212258;
    --white:white;
    --black1:#030506;
    --black2:#8e9091;

    --blue: var(--blue2);
    --grey:grey;
    
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
}

.container
{
    position: relative;
    width: 100%;
}

.navigation
{
position: fixed;
width: 300px;
height: 100%;
background: var(--blue);
transition: 0.5s;
overflow-y: scroll;

}
.navigation.active
{
width: 65px;
}

.navigation ul
{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    left:0;
    width:100%;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}

.navigation ul li
{
    position : relative;
    width : 100%;
    list-style:none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* border-left: 10px solid transparent; */
    

}

.navigation ul li:hover,
.navigation ul li.hovered
{
background: var(--white);
}
.navigation ul li:first-child{
    
}
.navigation ul li:nth-child(1){
    pointer-events: none;
    text-transform: uppercase;
    color: var(--green1);
    padding: 0;
    position: fixed;
    top: 0;
    background: var(--blue2);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 1000;
    width: 300px;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color:var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a
{
  color: var(--green2);
  font-weight: bold;
  
}
.navigation ul li a .icon{
position: relative;
display: block;
min-width: 60px;
height: 60px;
line-height: 70px;
text-align: center;
}

.navigation ul li a .icon ion-icon {
font-size: 1.75em;
}
.navigation ul li a .title{
position: relative;
display: block;
padding: 0 10px;
height: 60px;
line-height: 60px;
text-align: start;
white-space: nowrap;
}

/* curva hacia afuera */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
content: "";
position: absolute;
right: 0;
top: -50px;
width: 50px;
height: 50px;
border-radius: 50%;
background: transparent;
box-shadow: 35px 35px 0 10px var(--white);
pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
content: "";
position: absolute;
right: 0;
bottom: -50px;
width: 50px;
height: 50px;
background: transparent;
border-radius: 50%;
box-shadow: 35px -35px 0 10px var(--white);
pointer-events: none;
}