@media (max-width:991px){
    .sidebar{
        left:-300px
    }
    .sidebar.active{
        width: 300px;
        left:0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        
        left: 300px;
    }
    .main-card-container{
        grid-template-columns: repeat(2,1fr);
    }
} 


@media (max-width:768px){
    .details{
        grid-template-columns: repeat(1,1fr);
    }
    .recentOrders{
        overflow: auto;
    }
    .status {
        white-space: nowrap;
    }
}

@media (max-width:480px){
    .main-card-container{
        grid-template-columns: repeat(1,1fr);
    }
    .carHeader h2{
        font-size: 20px;
    }
    .user{
        min-width: 40px;
    }
    .sidebar
    {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .sidebar.active
    {
        width: 100%;
        left: 0;
    }
    .toggle{
        z-index: 1001;
    }
    
    .main.active .toggle{
        position: fixed;
        right: 0;
        left: inherit;
        color: var(--white);
    }
}