/* dispositivos mediano */
@media (max-width:991px){
    .sidebar{
        left:-300px
    }
    .header{
        width: 100%;
    }
    .sidebar.active{
        width: 300px;
        left:0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        
        left: 300px;
    }
    .main-card-container{
        grid-template-columns: repeat(2,1fr);
    }
} 

/* dispositivo  */
@media (max-width:768px){
    .header .search{
        display: none;
    }
    .card-grid-two-columns {
        grid-template-columns: initial;
    grid-gap: initial;
    }
    .card-grid-two-columns .card{
        margin-bottom: 40px;
    }
    .stats-container {
        grid-template-columns: initial !important;
    }
    .card-elements {
        flex-direction: column;
        margin-top: 10px;
    }
    .status {
        white-space: nowrap;
    }
}
/* dispositivos moviles */
@media (max-width:480px){
    .container-dark-mode{
        display: none;
    }
    .title-panel{
        font-size: 10px;
    white-space: nowrap;
    }

    .card-title {
        left: 5% !important; 
        width: 90% !important;
    }

    .main-card-container{
        grid-template-columns: repeat(1,1fr);
    }
    .carHeader h2{
        font-size: 20px;
    }
    .user{
        min-width: 40px;
    }
    .sidebar
    {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .sidebar.active
    {
        width: 100%;
        left: 0;
    }
    .toggle{
        z-index: 1001;
    }
    
    .main.active .toggle{
        position: fixed;
        right: 0;
        left: inherit;
        color: var(--white);
    }
}