.recentCustomers{
 position: relative;
 display: grid;   
 min-height: 500px;
 padding: 20px;
 background: var(--white);
 box-shadow: 0 7px 25px rgba(0, 0, 0, 0.5);
border-radius: 20px;
}

.cardHeader{

}

.recentCustomers .imgBx{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
}
.recentCustomers .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.recentCustomers table tr:hover{
background: var(--blue);
color: var(--white);
}

.recentCustomers table tr td {
padding: 12px 10px;
}
.recentCustomers table tr td h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
}
.recentCustomers table tr td h4 span{
    font-size: 14px;
    color: var(--blue1);
}

.recentCustomers table tr:hover{
    background: var(--blue);
    color: var(--white);
}
.recentCustomers table tr:hover h4 span{
    color: var(--green1);
}

.recentCustomers table tr:hover td:first-child {    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.recentCustomers table tr:hover td:last-child {   
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
