.card .card-table table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
   
   }
   
   
   .card .card-table table thead td{
       padding: 10px;
       font-size: 18px;
       font-weight: bold;
   }
   .card .card-table table tr
   {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   }
   .card .card-table  table  tr:last-child{
    border-bottom: none;
   }
   .card .card-table table tbody tr:hover{
    /* background: var(--blue1); */
    background: #0045503d;
    color: var(--green2);
    cursor: pointer;
   }
   .card .card-table table tbody tr td {
       padding: 15px;
   }
   /* .card .card-table table thead tr td {
       padding: 15px;
   } */
   .card .card-table table thead tr td:last-child{
       text-align: end;
   }
   .card .card-table table tbody tr td:last-child{
       text-align: end;
   }
   .card .card-table table tbody tr td:nth-child(2) {
       text-align: end;
   }
   .card .card-table table thead tr td:nth-child(2) {
       text-align: end;
   }
   .card .card-table table tbody tr td:nth-child(3) {
       text-align: center;
   }
   .card .card-table table thead tr td:nth-child(3) {
       text-align: center;
   }
   
   
   .card .card-table table tr:hover td:first-child {    
       border-top-left-radius: 20px;
       border-bottom-left-radius: 20px;
   }
   .card .card-table table tr:hover td:last-child {   
       border-top-right-radius: 20px;
       border-bottom-right-radius: 20px;
   }
   
   
   .status{
       padding: 2px 10px;
       min-width: 80px;
       text-align: center;
       display: inline-block;
       background: #8de02c;
       color: var(--white);
       border-radius: 8px;
       font-size: 14px;
   }
   .delivered{
       background: #8de02c;
   }
   .analysis{
       background: #6594f8;
   }
   .denied{
       background: #f73838;
   }
   .approved{
       background: #284902;
   }
   .received{
       background: #a2a59e;
   }
   .paid{
       background: #eb791c;
   }

   /* tabls tipo listas */
   .card-table-list table{
       width: 100%;
   }
   .card-table-list table tr:hover{
    background: var(--blue);
    color: var(--white);
    }
    
    .card-table-list table tr td {
    padding: 12px 10px;
    }
    .card-table-list table tr td h4{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2em;
    }
    .card-table-list table tr td h4 span{
        font-size: 14px;
        color: var(--blue1);
    }
    
    .card-table-list table tr:hover{
        background: var(--blue);
        color: var(--white);
    }
    .card-table-list table tr:hover h4 span{
        color: var(--green1);
    }
    
    .card-table-list table tr:hover td:first-child {    
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .card-table-list table tr:hover td:last-child {   
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    